* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: 400;
}
.header-wrapper {
  top: 0;
  left: 0;
  height: 58px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.21);
  position: fixed;
  display: block;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #292a3a;
  background: #fff;
  position: relative;
  padding: 0 12px;
  height: 100%;
}
.active {
  color: #fff !important;
  background-color: #8854c0;
}
.nav {
  left: 0;
  display: flex;
  flex: 2;
}
.nav__logo {
  display: inline-block;
  background: url("../img/logo.jpg") no-repeat 50% / contain;
  width: 112px;
  height: 56px;
}
.nav__search {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.nav__search .search-icon {
  text-align: center;
  padding: 12px;
}
.nav__search .search-input {
  padding: 12px 0 12px 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
.nav-menu-item {
  padding: 8px 24px;
}
.nav-menu-item:hover {
  color: #8854c0;
  cursor: pointer;
}
.menu-item-title {
  margin-left: 4px;
}
.menu-login {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.menu-login button {
  padding: 8px;
  font-size: 16px;
  margin-right: 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.menu-login button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.dropdown-user .dropdown-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  align-items: center;
}
.dropdown-user .dropdown-icon {
  font-size: 16px;
}
