/* PC */
@media (min-width: 63.9375em) {
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 64em) {
  .menu-item-title {
    display: none;
  }
}

/* Mobile */
@media (max-width: 46.25em) {
  .menu-login,
  .nav__items,
  .nav__search {
    display: none;
  }
}
